@using TSensor.Web.Models.Entity;
@model TSensor.Web.ViewModels.Point.MenuElementViewModel
@{ 
    var parentGuid = Model.GroupGuid ?? PointGroup.RootGuid;
}

@if (Model.Point.TankList.Any())
{
    <li class="treeview">
        <a href="javascript:void(0)">@Html.MenuElementCheckbox(Model.Point.PointGuid, parentGuid)@Model.Point.Name<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
            @foreach (var tank in Model.Point.TankList.OrderBy(t => t.Name))
            {
                <li><a>@Html.MenuElementCheckbox(tank.TankGuid, Model.Point.PointGuid)@tank.Name</a></li>
            }
        </ul>
    </li>
}
else
{
    <li><a>@Html.MenuElementCheckbox(Model.Point.PointGuid, parentGuid)@Model.Point.Name</a></li>
}