@model IEnumerable<ActualSensorValue>
@{ 
    ViewBag.Title = "Измерения по системе";
}

@if (Model?.Any() == true)
{
    var hasError = Model.Any(t => t.IsError);
    var hasWarning = Model.Any(t => t.IsWarning);

    var listenSensors = Model.SelectMany(t =>
    {
        if (t.DualMode == true)
        {
            return new[]
            {
                new
                {
                    guid = t.MainSensorGuid,
                    updateDate = t.MainSensorLastDate,
                    warningDate = t.MainSensorWarningDateTicks,
                    isSecond = 0
                },
                new
                {
                    guid = t.SecondSensorGuid,
                    updateDate = t.SecondSensorLastDate,
                    warningDate = t.SecondSensorWarningDateTicks,
                    isSecond = 1
                }
            };
        }
        else
        {
            return new[]
            {
                new
                {
                    guid = t.MainSensorGuid,
                    updateDate = t.MainSensorLastDate,
                    warningDate = t.MainSensorWarningDateTicks,
                    isSecond = -1
                }
            };
        }
    }).Where(p => p.guid != null).ToDictionary(p => p.guid, p => p);

    <div class="t-error-message callout callout-danger @if(!hasError){<text>hidden</text>}">
        <h4>Внимание!</h4>
        <p>Данные с некоторых датчиков никогда не поступали. Проверьте правильность настроек.</p>
    </div>
    <div class="t-warning-message callout callout-warning @if(!hasWarning){<text>hidden</text>}">
        <h4>Внимание!</h4>
        <p>Данные с некоторых датчиков не поступают больше часа. Проверьте правильность настроек и исправность системы.</p>
    </div>

    @foreach (var tank in Model)
    {
        @Html.Partial("SensorCard", tank)
    }

    <script src="/npm/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const listenSensors = @Html.Raw(JsonSerializer.Serialize(listenSensors));
        const connection = new signalR.HubConnectionBuilder().withUrl('/broadcast').build();

        var errorBlock = $('.t-error-message');
        var warningBlock = $('.t-warning-message');

        connection.on('sensorupdate', sensorUpdate);

        connection.start();
    </script>
}
else
{
    <p>Выберите в меню данные для отображения</p>
}