################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs/TSensor.Web
/bin
/node_modules
/obj
/log/exception/20200126.log
