################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs/TSensor.Web
/bin
/node_modules
/obj
/log/exception/20200126.log
/log/exception
/log/inputerror
/log/rawinput
/packages/EPPlus.4.5.3.3
/TSensor.FillValues/packages/EPPlus.4.5.3.3
/TSensor.FillValues/obj/Debug
/TSensor.FillValues/bin/Debug
/TSensor.Web/bin
/TSensor.Web/node_modules
/TSensor.Web/obj
/TSensor.Web/log
/TSensor.Web/.config
