################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/packages
/TSensor.FillValues/obj
/TSensor.FillValues/bin
/TSensor.Proxy/obj
/TSensor.Proxy/bin
/TSensor.Web/obj
/TSensor.Web/bin
/TSensor.Web/node_modules
/TSensor.Web/log