@using TSensor.Web.Models.Entity;
@using TSensor.Web.Models.Services; 
@model TSensor.Web.ViewModels.Point.MenuElementViewModel
@{ 
    var parentGuid = Model.GroupGuid ?? PointGroup.RootGuid;
}

@if (Model.Point.TankList.Any())
{
    <li class="treeview">
        <a href="javascript:void(0)">@Html.MenuElementCheckbox(Model.Point.PointGuid, parentGuid)@Html.TrimLabel(Model.Point.Name, Model.MaxLabelLength)<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu">
            @foreach (var tank in Model.Point.TankList.OrderBy(t => t.Name, new AlphanumComparer()))
            {
                <li><a>@Html.MenuElementCheckbox(tank.TankGuid, Model.Point.PointGuid)@Html.TrimLabel(tank.Name, Model.MaxLabelLength + 2)</a></li>
            }
        </ul>
    </li>
}
else
{
    <li><a>@Html.MenuElementCheckbox(Model.Point.PointGuid, parentGuid)@Html.TrimLabel(Model.Point.Name, Model.MaxLabelLength)</a></li>
}