*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Gilroy';
}

.content-wrapper.no-footer {
    min-height: calc(100vh - 50px);
}

.dropdown-menu .divider {
    margin: 5px 0;
}

.dropdown-menu {
    border-radius: 0;
}

/*.logo-lg {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}*/

.badge {
    font-weight: normal;
}

.box-footer .footer-link {
    display: inline-block;
    margin-top: 7px;
}

.field-validation-error.help-block {
    margin-bottom: 0;
}

.field-validation-valid.help-block {
    margin-top: 0;
    margin-bottom: 0;
}

.form-group .checkbox {
    padding-top: 0;
    min-height: 20px;
}

span.form-control {
    border: 0;
    padding: 7px 0 0 2px;
}

.nav > li > .menu-element {
    position: relative;
    display: block;
    padding: 15px;
    color: #fff;
    line-height: 20px;
}

.inline-header-button {
    margin-top: 16px;
    margin-bottom: 16px;
}

.table > thead > tr > th.table-center-header {
    vertical-align: middle;
}

.additional-header-link {
    margin-top: 4px;
}

.default-button {
    min-width: 80px;
}

.info-box-text {
    text-transform: none;
}

.no-header tr:first-child td {
    border: 0;
}

/*sensor card*/
.t-cell {
    float: left;
    width: 300px;
    padding: 0 15px;
}

    .t-cell h5 {
        text-align: center;
        margin-bottom: 0px;
    }

    .t-cell h6 {
        text-align: center;
        margin-top: 4px;
        margin-bottom: 6px;
    }

.t-error h5 {
    margin-top: 20px;
    margin-bottom: 13px;
}

.t-cell i {
    padding-left: 8px;
    line-height: 15px;
    color: #3C8DBC;
    font-size: 11px;
}

.t-error h5::after {
    color: #DD4B39;
}

.t-warning h5::after {
    color: #F49200;
}

.t-cell .bl1 > span, .t-cell .bl3 > span {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}

.t-cell > div {
    height: 120px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.bl-error {
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    background: #DD4B39;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.t-error .bl-error {
    display: block;
}

.bl1 {
    float: left;
    width: 70px;
    padding-right: 10px;
    text-align: right;
}

.bl2 {
    float: left;
    width: 100px;
}

    .bl2 > div {
        position: relative;
        background: #A2E9F9;
        height: 120px;
    }

        .bl2 > div > div {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #3C8DBC;
            width: 100%;
        }

.t-warning .bl2 > div {
    background: #F7D199;
}

    .t-warning .bl2 > div > div {
        background: #F49200;
    }

.bl3 {
    float: left;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
    width: 100px;
}

.t-error .bl1, .t-error .bl2, .t-error .bl3 {
    display: none;
}

.bl-error::before {
    display: block;
    content: "Данные с датчика не поступают";
}

.bl-error::after {
    content: "Вероятно, датчик неправильно внесен в систему";
    display: block;
}

/*end sensor card*/


tr .table-remove-cell {
    text-align: right;
}

    tr .table-remove-cell a {
        visibility: hidden;
    }

tr:hover .table-remove-cell a {
    visibility: visible;
}

i.menu-point {
    font-size: 10px;
    line-height: 16px;
    vertical-align: middle;
    height: 20px;
    padding-left: 3px;
}

.sidebar-menu li > a > .pull-right-container {
    height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    width: 17px;
}

    .sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
        margin-right: 12px;
        margin-top: 14px;
    }

.icheckbox_square-blue {
    margin-left: -10px;
    margin-right: 6px;
    margin-bottom: 1px;
}

.treeview-menu {
    padding-left: 8px;
}

    .treeview-menu .treeview-menu {
        padding-left: 7px;
    }

.apply-button {
    text-align: center;
    background: #3C8DBC;
}

.sidebar-menu > li.apply-button a:hover {
    background: #367FA9;
}

.sidebar-menu > li.apply-button > a {
    padding: 10px 0 10px 0;
    color: #fff;
}


.skin-blue .sidebar-menu > li.header {
    color: #69818C;
}

.page-header-form {
    margin-top: -16px;
    margin-bottom: -16px;
}

    .page-header-form .col-md-6 {
        padding-left: 0;
    }

.favorite-container > li > a {
    line-height: 23px;
}