@media (min-width: 768px) {
    .nav > li.hidden-desktop {
        display: none;
    }
}

.content-wrapper.no-footer {
    min-height: calc(100vh - 50px);
}

.dropdown-menu .divider {
    margin: 5px 0;
}

.dropdown-menu {
    border-radius: 0;
}

.logo-lg {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.badge {
    font-weight: normal;
}

.box-footer .footer-link {
    display: inline-block;
    margin-top: 7px;
}

.field-validation-error.help-block {
    margin-bottom: 0;
}

.field-validation-valid.help-block {
    margin-top: 0;
    margin-bottom: 0;
}

.form-group .checkbox {
    padding-top: 0;
    min-height: 20px;
}

span.form-control {
    border: 0;
    padding: 7px 0 0 2px;
}