@using TSensor.Web.Models.Services
@model MapViewModel
@{
    ViewBag.Title = "Карта объектов";

    var comparer = new AlphanumComparer();

    var featureJson = JsonSerializer.Serialize(
        new
        {
            options = new
            {
                defaultLon = Model.DefaultLon,
                defaultLat = Model.DefaultLat
            },
            features = Model?.Features?
                .Where(p => p.Longitude.HasValue && p.Latitude.HasValue)
                .Select(p => new
                {
                    name = p.Name,
                    lon = p.Longitude,
                    lat = p.Latitude,
                    tankList = p.TankList.Select(t => new
                    {
                        name = string.Join(" ", new[] { t.Name, t.ProductName }),
                        url = Url.Action("Details", "Tank", new { guid = t.TankGuid })
                    }).OrderBy(t => t.name, comparer)
                })
        });
}

<style>
    .ol-map {
        position: fixed;
        top: 102px;
        bottom: 12px;
        width: calc(100% - 260px);
        border: 1px solid #ccc;
    }

    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 10px;
        border-radius: 2px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
    }

        .ol-popup:after, .ol-popup:before {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .ol-popup:after {
            border-top-color: white;
            border-width: 10px;
            left: 48px;
            margin-left: -10px;
        }

        .ol-popup:before {
            border-top-color: #cccccc;
            border-width: 11px;
            left: 48px;
            margin-left: -11px;
        }

    .ol-popup-header {
        margin-bottom: 4px;
        font-weight: bold;
    }

    .ol-popup-content a {
        display: block;
    }
</style>
<div id="ol-map" class="ol-map"></div>
<div id="ol-popup" class="ol-popup">
    <div id="ol-popup-header" class="ol-popup-header"></div>
    <div id="ol-popup-content" class="ol-popup-content">
        <a href="$" target="_blank">324</a>
        <a href="$" target="_blank">324</a>
        <a href="$" target="_blank">324</a>
        <a href="$" target="_blank">324</a>
    </div>
</div>

<link rel="stylesheet" href="~/lib/ol/css/ol.css" />
<script src="~/lib/ol/build/ol.js"></script>
<script src="~/js/map.js"></script>
<script>
    var map = new Map();
    map.init(@Html.Raw(featureJson));
</script>