@model IEnumerable<IGrouping<Guid?, PointTankInfo>>
@{
    ViewBag.Title = "Объекты";
}

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body table-responsive">
                    <table class="table table-hover no-header">
                        @foreach (var point in Model)
                        {
                            var pointHeader = point.First();
                            var pointHasError = point.Any(p => p.IsError);
                            var pointHasWarning = point.Any(p => p.IsWarning);
                            <tr>
                                <td>@Html.ActionLink(pointHeader.PointName, "State", "Point", new { pointGuid = point.Key }, new { @class = (pointHasError ? "text-red" : (pointHasWarning ? "text-yellow" : "")) })</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <span>Не найдено ни одного объекта</span>
}